:root {
  --bg-main: #F7F6F3;
  --bg-soft: #FFFFFF;
  --accent-primary: #E6DCD1;
  --accent-secondary: #C9D6C5;
  --highlight: #c7b8a6;
  --text-main: #2A2A2A;
  --text-muted: #6F6F6F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.7;
}

a {
  color: var(--text-main);
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 6rem 10% 4rem;
  display: flex;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
}

.intro {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-muted);
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin: 1rem 0;
}

.subtitle {
  max-width: 480px;
  color: var(--text-muted);
}

.actions {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: #ffffff;
  color: var(--text-main);
  border: 1px solid var(--accent-primary);
  padding: 14px 28px;
  border-radius: 32px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border-color 0.3s ease;
}

.btn:hover {
  background-color: var(--highlight);
  color: #ffffff;
  border-color: var(--highlight);
}

/* SECTIONS */
.section {
  padding: 5rem 10%;
}

.section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background: var(--bg-soft);
  padding: 2rem;
  border-radius: 12px;
}

.card h3 {
  margin-bottom: 0.8rem;
  color: var(--text-main);
  transition: color 0.3s ease;

}

.card a:hover h3 {
  color: var(--highlight);
}


.description {
  color: var(--text-muted);
  font-size: 0.95rem;
}

.stack {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 0.75rem;
  color: var(--text-muted);
}

.project-image {
  margin-top: 1rem;
  width: 100%;
  max-height: 130px;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0.9;
  transition: 0.3s ease;
}

.project-image:hover {
  opacity: 1;
  transform: translateY(-2px);
}

/* SKILLS */
.soft-bg {
  background: var(--bg-soft);
   margin-bottom: 2rem;
}

.skills {
  padding: 4rem 10%; 
  min-height: auto;  
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.skills span {
  background: var(--accent-secondary);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
}

/* ABOUT */
.about {
  padding: 5rem 10%;
  min-height: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 4rem;
}

.about-text {
  max-width: 520px;
}

.about-text p {
  color: var(--text-muted);
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.7;
  max-width: 520px;
}

.about-text h2 {
  margin-bottom: 2.5rem;
}

.quote {
  margin-top: 1.5rem;
  font-style: italic;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.about-photo {
  display: flex;
  justify-content: flex-end;
}

.about-photo img {
  width: 100%;
  max-width: 330px;
  border-radius: 20px;
}

/* CONTACT */
.contact {
  text-align: center;
  font-style: italic;
  color: var(--text-muted);
}

.contact-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-links i {
  font-size: 1.4rem;
  color: var(--text-muted);
  transition: color 0.3s ease;
}

.contact-links i:hover {
  color: var(--highlight);
}

/* FOOTER */
footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-muted);
}

/* ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .about {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .about-photo {
    justify-content: center;
    margin-top: 2rem;
  }

  .about-text {
    max-width: 100%;
  }
}

.about {
  padding-top: 3rem;
  padding-bottom: 5.5rem;
}
